<%= form_with model: group do |f| %>
  <div class="long-text">
    <table>
      <tbody>
        <tr>
          <th><%= f.label:name, "Tour name" %></th>
          <td><%= f.text_field :name, size: "100x1" %></td>
        </tr>
        <tr>
          <th><%= f.label:introduction, "Introduction" %></th>
          <td><%= f.text_area :introduction , size: "100x10" %></td>
        </tr>
        <tr>
          <th><%= f.submit 'Save',class:"btn btn-warning" %></th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>