<%= stylesheet_link_tag 'public/groups', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1>Tours</h1>
  <div class="row">
    <div class="col">
      <% @groups.each do |group| %>
      <div class="list-group">
        <div class="box-title"><%= group.name %></div>
          <%= group.introduction %>
          <div class="link-button">
          <%= link_to 'Show', group %>
          <% if group.is_owned_by?(current_user) %>
          /&nbsp;<%= link_to 'Edit', edit_group_path(group) %>
          <% end %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>