<%= stylesheet_link_tag 'public/groups', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="page-title-long">TOUR DETAIL</h1>
  <div class="row mt-5">
    <div class="col">
      <h3>Organizer:<%= @group.owner_nickname %></h3>
      <div class="list-group">
        <div class="box-title"><%= @group.name %></div>
          <%= safe_join(@group.introduction.split("\n"),tag(:br)) %>
          <div class="link-button">
          <% if @group.is_owned_by?(current_user) %>
          　<%= link_to 'Edit', edit_group_path(@group) %>&nbsp;/
          　<%= link_to 'destroy', group_path(@group), method: :delete %>
          <% end %>
          </div>
      </div>
      <ul class="member">
        <h1>Members</h1>
        <% @group.users.each do |user| %>
　　      <li class="member-list"><%= user.nickname %></li>
        <% end %>
      </ul>
      </br>
      <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
  </div>
</div>