 <div class = 'items-box'>
    <div class="box">
    <% posts.each do |post| %>
      <li class="card">
        <div class="card-img">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image, size: "199x130" %>
          <% end %>
        </div>
        <div class="card-content">
          <h1 class="card-title">
            <%= post.title %>
          </h1>
          <p class="card-text">
          <%= post.genre.name %></br>
          Level: <%= post.level %></br>
          <%= image_tag post.user.home_country.image, size: "20x20" %>
          By <%= post.user.nickname %>&nbsp;</br>
          <%= link_to post_comments_path(post) do %>
            <i class="fa-regular fa-comment"></i>&nbsp;<%= post.comments.count %>&nbsp;
          <% end %>
          <span id="favorite_<%= post.id %>" class="red-link">
            <%= render "public/favorites/favorite", post: post %>
          </span>
          </p>
        </div>
      </li>
    <% end %>
  </div>
</div>