<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <div class = "row">
    <div class = 'col'>
      <h1>Recipe EDIT</h1>

        <%= form_with model: @post, url: post_path, method: :patch do |f| %>
        <table>
          <tbody>
            <tr>
              <th><%= f.label :Genre %></th>
              <td> <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--Please select--"} %></br></td>
            </tr>
            <tr>
              <th><%= f.label :level %></th>
              <td><%= f.select :level, Post.levels.keys %></td>
            </tr>
            <tr>
              <th><%= f.label :originality %></th>
              <td><%= f.select :originality, Post.originalities.keys %></td>
            </tr>
            <tr>
              <th><%= f.label :image, "Picture" %></th>
              <td><%= f.file_field :image,accept:'image/*' %></td>
            </tr>
            <tr>
              <th><%= f.label :title %></th>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <th><%= f.label :body, "explain" %></th>
              <td><%= f.text_area :body %></td>
            </tr>
            <tr>
              <th><%= f.label :ingredient %></th>
              <td><%= f.text_area :ingredient , size: "80x10" %></td>
            </tr>
            <tr>
              <th> <%= f.label :method %></th>
              <td><%= f.text_area :method , size: "100x10" %></td>
            </tr>
          </tbody>
        </table>
  <%= f.submit 'Save',class:"btn btn-success" %>
　<% end %>
　<%= link_to "Destroy",post_path(@post), method: :delete , data: { confirm: 'Do you really want to delete it?' },class:"btn btn-danger" %>
　</br>
　<%= link_to 'BACK', 'javascript:history.back()' ,class:"btn btn-success" %>
    </div>
  </div>
</div>