<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title">RECIPES</h1>
<div id="search-icon">
  <%= link_to("#", class: "menu-trigger button") do %>
    <span><i class="fa-solid fa-magnifying-glass"></i></span>
  <% end %>
</div>
<div class='container'>
  <div class="row">
   <%= render 'search' %>
   <%= render 'index', posts: @posts %>
  </div>
  <%= paginate @posts %>
</div>
<div class="back">
  <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %>
</div>
<script>
  $(function() {
    $('.menu-trigger').on('click', function(event) {
      $(this).toggleClass('active');
      $('#search-menu').fadeToggle();
      event.preventDefault();
    });
  });
</script>