<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title">RECIPES</h1>
<div id="search-icon">
      <%= link_to("#", class: "menu-trigger button") do %>
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
      <% end %>
    </div>
<div class='container'>
  <div class="row">
    <div id="search-menu">
      <div class ="search-box">
        <div class ="search-box-content">
          <h2>Search</h2>
          <h5>Sort by</h5>
          <%= link_to "Newest", posts_path(order: "latest") %></br>
          <%= link_to "Oldest", posts_path(order: "oldest") %></br>
          <%= link_to "Popularity", posts_path(order: "most_favorite") %></br>
          <h5>Browse By</h5>
          <%= form_with local: true, method: :get do |f| %>
            <%= f.label :Genre %></br>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--Select Genre--"} %></br>
            <%= f.label :Country %></br>
            <%= f.collection_select :home_country_id, HomeCountry.all, :id, :name, { include_blank: "--Select Country--"} %></br>
            <%= f.label :Level %></br>
            <%= f.select :level, Post.levels.keys,  { include_blank: "--Select Level--"} %></br>
            <%= f.label :originality %></br>
            <%= f.select :originality, Post.originalities.keys,  { include_blank: "--Select Originality--"} %></br>
            <%= f.label :Keyword %></br>
            <%= f.text_field :keyword, placeholder: "--input keyword--" %></br></br>
            <%= f.submit "Search" ,class:"search-submit",class:"btn_search" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-lg-10 col-md-8">
    <div class = 'items-box'>
      <div class="box">
      <% @posts.each do |post| %>
        <li class="card">
          <div class="card-img">
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_image, size: "199x130" %>
            <% end %>
          </div>
          <div class="card-content">
            <h1 class="card-title"><%= post.title %></h1>
            <p class="card-text">
              <%= post.genre.name %></br>
              Level: <%= post.level %></br>
              <%= image_tag post.user.home_country.image, size: "20x20" %>
              By <%= post.user.nickname %>&nbsp;</br>
              <%= link_to post_comments_path(post) do %>
                <i class="fa-regular fa-comment"></i>&nbsp;<%= post.comments.count %>&nbsp;
              <% end %>
              <% if current_user.email != "guest@example.com" %>
                <span id="favorite_<%= post.id %>" class="red-link">
                <%= render "public/favorites/favorite", post: post %>
                </span>
              <% else %>
                <i class="fa-solid fa-heart"></i>&nbsp;<%= post.favorites.count %>
              <% end %>
          </div>
        </li>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="back">
  <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
<script>
  $(function() {
    $('.menu-trigger').on('click', function(event) {
      $(this).toggleClass('active');
      $('#search-menu').fadeToggle();
      event.preventDefault();
    });
  });
</script>