<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title">RECIPES</h1>
<div class='container-fluid'>
  <div class="row">
  <div class ="search-box">
    <h1>Search</h1>
    <div class ="search-box-content">
      <h4>Sort by</h4>
      <%= link_to "Newest", posts_path(order: "latest") %></br>
      <%= link_to "Oldest", posts_path(order: "oldest") %></br>
      <%= link_to "Popularity", posts_path(order: "most_favorite") %></br>
      <h4>Browse By</h4>
      <%= form_with local: true, method: :get do |f| %>
        <%= f.text_field :keyword, placeholder: "--input keyword--" %></br></br>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--Select Category--"}  %></br></br>
        <%= f.collection_select :home_country_id, HomeCountry.all, :id, :name, { include_blank: "--Select Country--"} %></br></br>
        <%= f.submit "Search" ,class:"search-submit",class:"btn_search" %>
      <% end %>
    </div>
  </div>
  <div class = 'items-box'>
      <ul class="box">
      <% @posts.each do |post| %>
        <li class="card">
          <div class="card-img">
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_image, size: "199x130" %>
            <% end %>
          </div>
          <div class="card-content">
            <h1 class="card-title"><%= post.title %></h1>
            <p class="card-text">
              <%= post.genre.name %></br>
              Level: <%= post.level %></br>
              <%= image_tag post.user.home_country.image, size: "20x20" %></br>
              By<%= post.user.nickname %>
              <%= link_to post_comments_path(post) do %>
                <i class="fa-regular fa-comment"></i>&nbsp;<%= post.comments.count %>
              <% end %>|
              <% if current_user.email != "guest@example.com" %>
                <span id="favorite_<%= post.id %>">
                <%= render "public/favorites/favorite", post: post %>
                </span>
              <% else %>
                <i class="fa-solid fa-heart"></i>&nbsp;<%= post.favorites.count %>
              <% end %>
          </div>
        </li>
      <% end %>
      </ul>
  </div>
</div>
</div>
<div>
 <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %>
 </div>