<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>





<div class='container'>
  <div class = "row">
    <h1 class="page-title">Recipes</h1>
    
    <div class="search_form">
  　　<%= form_with local: true, method: :get do |f| %>
      　<%= f.text_field :keyword %>
      　<%= f.submit "Search" %>
    　<% end %>
  　</div>
    <div class = 'col-12'>
      <% if @keyword.present? %>
       <%= "#{@keywords}の検索結果" %>
      <% end %>
      
      <ul class="box">
      <% @posts.each do |post| %>
        <li class="card">
          <div class="card-img">
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_image, size: "200x130" %>
            <% end %>
          </div>
            <div class="card-content">
              <h1 class="card-title"><%= post.title %></h1>
              <p class="card-text">
                Level: <%= post.level %></br>
                <%= post.originality %></br>
                <%= image_tag post.user.home_country.image, size: "20x20" %></br>
                <%= link_to "#{post.comments.count} comments",post_comments_path(post) %></br>
            </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>