<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title-long">NEW RECIPE</h1>
  <div class='container'>
    <div class = "row">
      <div class = 'col'>
          <%= form_with model: @post, url: posts_path, method: :post do |f| %>
          <div class="edit-form">
            <table>
              <tbody>
                <tr>
                  <th><%= f.label :Genre %></th>
                  <td> <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "--Please select--"} %></br></td>
                </tr>
                <tr>
                  <th><%= f.label :level %></th>
                  <td><%= f.select :level, Post.levels.keys %></td>
                </tr>
                <tr>
                  <th><%= f.label :originality %></th>
                  <td><%= f.select :originality, Post.originalities.keys %></td>
                </tr>
                <tr>
                  <th><%= f.label :image, "Picture" %></th>
                  <td><%= f.file_field :image,accept:'image/*' %></td>
                </tr>
                <tr>
                  <th><%= f.label :title %>(Up to 20 characters)</th>
                  <td><%= f.text_field :title %></td>
                </tr>
                <tr>
                  <th><%= f.label :body, "explain" %></th>
                  <td><%= f.text_area :body %></td>
                </tr>
                <tr>
                  <th><%= f.label :ingredient %></th>
                  <td><%= f.text_area :ingredient , size: "80x10" %></td>
                </tr>
                <tr>
                  <th> <%= f.label :method %></th>
                  <td><%= f.text_area :method , size: "100x10" %></td>
                </tr>
              </tbody>
            </table>
          </div>
          </br>
          <%= f.submit 'New Registration',class:"btn btn-success" %>
          <% end %>
          </br>
          <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %>
      </div>
    </div>
  </div>
