<%= stylesheet_link_tag 'public/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class='container'>
  <h1 class="page-title-long">RECIPE DETAIL</h1>
    <div class = "row mt-5 justify-content-between">
      <div class = 'col-6'>
        <%= image_tag @post.get_image ,size: "400x300" %>
      </div>
      <div class = 'col-6'>
        <h1><%= @post.title %></h1>
        <p><%= @post.body %></p>
        <table class="recipe-detail">
          <tbody>
            <tr>
              <th>Genre</th>
              <td><%= @post.genre.name %></td>
            </tr>
            <tr>
              <th>Level</th>
              <td><%= @post.level %></td>
            </tr>
            <tr>
              <th>Originality</th>
              <td><%= @post.originality %></td>
            </tr>
            <tr>
              <th>Country</th>
              <td><%= image_tag @post.user.home_country.image, size: "20x20" %></td>
            </tr>
            <tr>
              <td>comments:&nbsp;<%= @post.comments.count %>&nbsp;</td>
              <% if current_user.email != "guest@example.com" %>
                <td id="favorite_<%= @post.id %>">
                <%= render "public/favorites/favorite", post: @post %>
                </td>
                <% else %>
                <td>
                <i class="fa-solid fa-heart"></i>&nbsp;<%= @post.favorites.count %>
                <% end %>
                </td>
            </tr>
          </tbody>
        </table>
        <% if @post.user == current_user %>
          <%= link_to "Edit", edit_post_path(@post), class:"btn btn-success" %>&nbsp;&nbsp;
          <%= link_to "Destroy",post_path(@post),  method: :delete , data: { confirm: 'Do you really want to delete it?' },class:"btn btn-danger" %></td>
        <% end %>
      </div>
    </div>
  <div class="container">
    <div class="row mt-5">
      <div class ="col-4">
        <h1>Ingredient</h1>
        <p><%= safe_join(@post.ingredient.split("\n"),tag(:br)) %></p>
      </div>
      <div class ="col-8">
        <h1>Method</h1>
        <p><%= safe_join(@post.method.split("\n"),tag(:br)) %></p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h1>
            <span id="comment_counter">
              <%= render "public/comments/counter", post: @post %>
            </span>
          </h1>
            <% if current_user.email != "guest@example.com" %>
            <div id="post-form">
              <%= render "public/comments/form",  post: @post , comment: @comment  %>
            </div>
            <% end %>
            <div id="post-index">
              <%= render "public/comments/show", post: @post %>
            </div>
          <%= link_to "View more", post_comments_path(@post) %>
        </div>
      </div>
      <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
    