<%= stylesheet_link_tag 'public/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
  <section id="mv">
    <div class="container">
      <div class="top_title">
        <h1 class="main-title">Travel By Cooking</h1>
        <h2><%= link_to "Let's start the journey" ,new_user_registration_path %></h2>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag("sakujo5.jpg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image名") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
         <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image") %>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="about_title">
        <h1 class="second-title">About</h1>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
      </div>
    </div>
  </section>
  <script>
  const swiper = new Swiper(".swiper", {
  loop: true, // ループ有効
  slidesPerView: 3, // 一度に表示する枚数
  speed: 9000, // ループの時間
  allowTouchMove: false, // スワイプ無効
  autoplay: {
    delay: 0, // 途切れなくループ
    reverseDirection: true,
  },
});
</script>
