<%= stylesheet_link_tag 'public/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
  <section id="mv">
    <div class="container">
      <div class="top_title">
        <h2><%= link_to "Let's start the journey" ,new_user_registration_path %></h2>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_281748742.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_203197729.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_292592821.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("AdobeStock_296667027.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
         <%= image_tag("AdobeStock_335744309.jpeg", class: "swiper-image") %>
        </div>
        <div class="swiper-slide">
          <%= image_tag("chinese-food-5233488_1280.jpg", class: "swiper-image") %>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="about_title">
        <h1 class="second-title">About</h1>
        <div class="subtitle">
          <h4>"I want people to feel like they are traveling at home</h4>
          <h4>based on recipes from around the world."</h4>
        </div>
        <div class="content">
          <p>
            When I was a student, I loved to travel abroad and the eating in each country</br>
            was one of the best parts of traveling.Compared to those days, the yen has depreciated</br>
            to an unimaginable degree.Economically, it is no longer easy to travel abroad.</br>
            I believe that there are many people around the world who cannot easilytravel abroad</br>
            for economic reasons or time constraints.</br>
            So we established this site in the hope that in this day and age when we can visually visit</br>
            many different countries with the online maps we have reached, we would like people to easily</br>
            travel the world with their sense of taste and smell by cooking at home. </br>
          </p>
        </div>
      </div>
    </div>
  </section>
  <script>
  const swiper = new Swiper(".swiper", {
  loop: true, // ループ有効
  slidesPerView: 3, // 一度に表示する枚数
  speed: 6000, // ループの時間
  allowTouchMove: true, // スワイプ無効
  autoplay: {
    delay: 0, // 途切れなくループ
    reverseDirection: true,
  },
});
</script>
