<%= stylesheet_link_tag 'public/chats', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="page-title-long">"<%= @group.name %>" 's CHAT ROOM</h1>
  <div class="row">
    <div class="col">
      <div class="message" style="width: 800px;">
        <% current_date = nil %>
        <% @chats.each do |chat| %>
          <% if chat.created_at.to_date != current_date %>
            <% current_date = chat.created_at.to_date %>
              <% if current_date == Date.today %>
                <div class="date-divider"><p>Today</p></div>
              <% elsif current_date == Date.today - 1.day %>
                <div class="date-divider"><p>Yesterday</p></div>
              <% else %>
                <div class="date-divider">
                  <p><%= current_date.strftime('%Y/%m/%d') %></p>
                </div>
              <% end %>
          <% end %>
          <% if chat.user_id == current_user.id %>
            <div class="right-container d-flex justify-content-end"><span class="time"> <%= link_to "Delete",group_chat_path(chat.group,chat),method: :delete, data: {confirm: "Do you really want to delete?"}, class: "delete" %>&nbsp;<%= chat.created_at.strftime('%H:%M') %></span>
              <p><span id="chat_<%= chat.id %>" class="mychat"><%= safe_join(word_wrap(chat.message).split("\n"),tag(:br)) %></span></p>
             
            </div>
          <% else %>
            <div class= "left-container d-flex">
              <%= chat.user.nickname %>
              <p><span class="chat"><%= safe_join(word_wrap(chat.message).split("\n"),tag(:br)) %></span><span class="time"><%= chat.created_at.strftime('%H:%M') %></span></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= form_with model:@chat, url: group_chats_path, method: :post do |f| %>
        <%= f.text_area :message %>
        <%= f.hidden_field :group_id %>
        <%= f.submit "send", class:"btn btn-dark btn-sm" %>
      <% end %>

      </br>
      <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
  </div>
</div>