<h1>"<%= @group.name %>" 's CHAT ROOM</h1>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <div class= "left-container d-flex">
      <%= @user.nickname %>
      <p class=ml-1 style="text-align: left;"><span style="background-color: #F5F5DC; padding: 5px; border-radius: 10px;"><%= chat.message %></span></p>
    </div>
    <% end %>
</div>


<%= form_with model:@chat, url: group_chats_path, method: :post do |f| %>
  <%= f.text_field :message %>
  <%= f.submit "送信", class:"btn btn-dark btn-sm" %>
  <%= f.hidden_field :group_id %>
  <% end %>