<%= stylesheet_link_tag 'public/registrations', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <div class = "row py-5 mx-auto">
    <div class = 'col-6 py-5 mx-auto'>
      <div class="text-box">
      <h1>Sign up</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table>
          <tbody>
            <tr>
              <th><%= f.label :name %></th>
              <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
            </tr>
            <tr>
              <th><%= f.label :nickname %></th>
              <td><%= f.text_field :nickname, autocomplete: "nickname" %></td>
            </tr>
            <tr>
              <th><%= f.label :email %></th>
              <td><%= f.email_field :email, autocomplete: "email" %></td>
            </tr>
            <tr>
              <th><%= f.label :HomeCountry %></th>
              <td><%= f.collection_select :home_country_id, HomeCountry.all, :id, :name, { include_blank: "--Please select--"} %></td>
            </tr>
            <tr>
              <th><%= f.label :password %></th>
              <td>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :password_confirmation %></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
            <tr>
              <th></th>
              <td></br><%= f.submit "Sign up" ,class:"btn btn-success"%></td>
            </tr>
          </tbody>
        </table>
        <% end %>
           <h2>Already registered?</h2>
           <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>
