<%= stylesheet_link_tag 'admin/country_genre', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <h1 class="page-title-long">COUNTRY</h1>
  <div class="row">
    <div class="col-md-6 my-5">
      <%= form_with model: @home_country, url: admin_home_countries_path, method: :post do |f| %>
        <%= f.label :image, "Flag image" %>
        <%= f.file_field :image,  accept:'image/*' %></br></br>
        <%= f.label :name %>
        <%= f.text_field :name %></br></br>
        <%= f.submit 'New Registration',class:"btn btn-success" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <table class="table table table-responsive-md">
        <thead>
          <tr>
            <th scope="col">Country name</th>
            <th scope="col">National flag</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @home_countries.each do |home_country| %>
          <tr>
            <td><%= home_country.name %></td>
            <td><%= image_tag home_country.get_image %></td>
            <td><%= link_to "Edit",edit_admin_home_country_path(home_country.id), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
  </div>
</div>