<h1>Genre<br>list& new registrations</h1>


  <%= form_with model: @home_country, url: admin_home_countries_path, method: :post do |f| %>
    <%= f.label :image, "Flag image" %>
    <%= f.file_field :image,  accept:'image/*' %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'New Registration',class:"btn btn-success" %>
  <% end %>
  
  <table>
    <thead>
      <tr>
        <th>Country name</th>
        <th>National flag</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @home_countries.each do |home_country| %>
      <tr>
        <td><%= home_country.name %></td>
        <td><%= image_tag home_country.get_image %></td>
        <td><%= link_to "Edit",edit_admin_home_country_path(home_country.id), class:"btn btn-success" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>