<%= stylesheet_link_tag 'public/users', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <div class = "row">
    <div class = 'col'>
    <h1 class="page-title">EDIT</h1>
    <%= form_with model: @user do |f| %>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
       <tr>
          <th><%= f.label :nickname %></th>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :HomeCountry %></th>
          <td><%= f.collection_select :home_country_id, HomeCountry.all, :id, :name, { include_blank: "--Please select--"} %></td>
        </tr>
      </tbody>
    </table>
    </br>
  <%= f.submit "Save" ,class:"btn-1" %>
  <% end %>
  </br>
  <%= link_to "Cancel membership", confirm_path, class:"btn-2" %></br></br>
  <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
    </div>
  </div>
</div>