<h1>Users EDIT</h1>

  <%= form_with model: @user do |f| %>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :name %></th>
          <td><%= f.text_field :name, autofocus: true %></td>
        </tr>
       <tr>
          <th><%= f.label :nickname %></th>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :HomeCountry %></th>
          <td><%= f.collection_select :home_country_id, HomeCountry.all, :id, :name, { include_blank: "--Please select--"} %></td>
        </tr>
      </tbody>
    </table>
  <%= f.submit "Save" ,class:"btn btn-success" %>
  <% end %>
  </br>
  <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn btn-success" %>