<%= stylesheet_link_tag 'public/users', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="page-title2">MY PAGE</h1>
<div class='container'>
  <div class = "row mt-2">
    <div class = 'col-3'>
        <div class="profile">
        <table>
          <tbody>
            <tr>
              <th>Name: </th>
              <td><%= current_user.name %></td>
            </tr>
            <tr>
              <th>Nickname: </th>
              <td><%= current_user.nickname %></td>
            </tr>
            <tr>
              <th>Email: </th>
              <td><%= current_user.email %></td>
            </tr>
            <tr>
              <th>HomeCountry:</th>
              <td><%= current_user.home_country.name %></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="user-link">
        <%= link_to favorite_user_path(current_user) do %>
          <i class="fa-solid fa-heart"></i> Bookmark</br>
        <% end %>
        <%= link_to new_post_path do %>
          <i class="fa-solid fa-utensils"></i> Post new recipe</br>
        <% end %>
        <%= link_to new_group_path do %>
          <i class="fa-solid fa-flag"></i> Create cooking tour</br>
        <% end %>
        <%= link_to edit_user_path(current_user) do %>
          <i class="fa-solid fa-user-pen"></i>Edit Profile</br>
        <% end %>
        </div>
        </br>
        <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn-back" %></br></br>
        </div>
    <div class = 'col-9 mt-3'>
      <ul class="box">
      <% @posts.each do |post| %>
        <li class="card">
          <div class="card-img">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image , size: "200x130"%>
          <% end %>
          </div>
          <div class="card-content">
            <h1 class="card-title"><%= post.title %></h1>
          </div>
        </li>
      <% end %>
      </ul>
     </div>
    </div>
  </div>
</div>