<%= stylesheet_link_tag 'public/users', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='container'>
  <div class = "row">
    <div class = 'col-3'>
      <h1 class="page-title">MY PAGE</h1>
        <table>
          <tbody>
            <tr>
              <th>Name: </th>
              <td><%= current_user.name %></td>
            </tr>
            <tr>
              <th>Nickname: </th>
              <td><%= current_user.nickname %></td>
            </tr>
            <tr>
              <th>Email: </th>
              <td><%= current_user.email %></td>
            </tr>
            <tr>
              <th>HomeCountry:</th>
              <td><%= current_user.home_country.name %></td>
            </tr>
          </tbody>
        </table>
    <div class="user-link">
    <%= link_to "Bookmark", favorite_user_path(current_user) %></br>
    <%= link_to "Post New Recipe", new_post_path %></br>
    <%= link_to "Edit Profile", edit_user_path(current_user)  %></br>
    </div>
    </br>
    <%= link_to 'BACK', 'javascript:history.back()' ,class:"btn" %></br></br>
    </div>
     <div class = 'col-9 mt-3'>
      <ul class="box">
      <% @posts.each do |post| %>
          <li class="card">
            <div class="card-img">
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_image , size: "200x130"%>
            <% end %>
            </div>
            <div class="card-content">
               <h1 class="card-title"><%= post.title %></h1>
            </div>
          </li>
      <% end %>
      </ul>
     </div>
    </div>
  </div>
</div>